*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background:url("images/ship.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}
nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
.container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 30px;
}
nav ul li a:hover, a.active{
    background-color: #E33741;
    border-radius: 5px;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}
.booking-content{
    color: #fff;
    width: 100%;
    float: left;
    margin-left: 50px;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    float: right;
    width: 70%;
    margin-left: 180px;
}
.booking-form h3{
    margin: 10px 0px;
    text-align: center;
    color: #ec1153;
    font-weight: bolder;
}
.booking-form  .input-group{
    margin: -1px 0;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 5px 0;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-width{
    min-width: 300px;
}
.plus-minus-btn{
    padding: 0px;
    margin: 30px 10px 0px 0px;
    word-spacing: 5px;
}
.plus-minus-btn .plus-btn{
    font-size: 35px;
    color: #11ca11;
    cursor: pointer;
}
.plus-minus-btn .minus-btn{
    font-size: 55px;
    color: #ec1153;
    cursor: pointer;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.subtotal-text-color{
    color: rgb(168, 21, 156);
}
.vat-text-color{
    color: #E33741;
}
.total-text-color{
    color: #04a133;
    font-weight: bold;
}
.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #E33741;
}
.amount{
    display: flex;
    justify-content: space-between;
}
#id01{
    display: none;
}
#id01 h1{
    text-align: center;
    color: tomato;
}
#id01 h4{
    text-align: center;
    color: violet;
}